<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dragonfly_arm">
  <xacro:arg name="use_sim_time" default="true"/>
  <xacro:property name="cfg" value="${xacro.load_yaml('../config/model_dimensions.yaml')}"/>
  <xacro:property name="meas" value="${cfg.measured}"/>
  <xacro:property name="est" value="${cfg.estimated}"/>
  <xacro:property name="sim" value="${cfg.simulation}"/>
  <xacro:include filename="geometry_macros.xacro"/>
  <xacro:include filename="vector_platform.xacro"/>
  <xacro:include filename="five_axis_arm.xacro"/>

  <!-- Fixed-base kinematic demonstrator; this constraint must be removed
       together with adding flight physics, NOT simply when adding wind. -->
  <link name="world"/>
  <gazebo reference="world"><static>true</static></gazebo>
  <xacro:vector_platform/>
  <xacro:five_axis_arm/>

  <ros2_control name="GazeboSystem" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <xacro:controlled_joint name="joint_1"/>
    <xacro:controlled_joint name="joint_2"/>
    <xacro:controlled_joint name="joint_3"/>
    <xacro:controlled_joint name="joint_4"/>
    <xacro:controlled_joint name="joint_5"/>
    <xacro:controlled_joint name="unit_a_outer_joint"/>
    <xacro:controlled_joint name="unit_a_inner_joint"/>
    <xacro:controlled_joint name="unit_b_outer_joint"/>
    <xacro:controlled_joint name="unit_b_inner_joint"/>
    <xacro:controlled_joint name="unit_c_outer_joint"/>
    <xacro:controlled_joint name="unit_c_inner_joint"/>
  </ros2_control>
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>${xacro.abs_filename('../config/controllers.yaml')}</parameters>
    </plugin>
  </gazebo>
</robot>
